Repository alauda/ng-monaco-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -p . -t stylish --fix

fix: diff editor can not be disposed correctly
  package.json
  src/monaco-common-editor.component.ts
  src/monaco-diff-editor.component.ts
  stories/index.ts
Due: prettier --write, tslint -p . -t stylish --fix

fix: diff editor can not be disposed correctly (#40)
  package.json
  src/monaco-common-editor.component.ts
  src/monaco-diff-editor.component.ts
  stories/index.ts
Due: prettier --write, tslint -p . -t stylish --fix

ci: migrate to GitHub Actions
  .github/workflows/publish.yml
  .travis.yml
  README.md
  package.json
Due: prettier --write

docs: add badge urls
  .storybook/preview-head.html
  README.md
Due: none

feat: support dynamic import monaco module
  package.json
  src/monaco-common-editor.component.ts
  src/monaco-diff-editor.component.ts
  src/monaco-editor-config.ts
  src/monaco-provider.service.ts
  src/public-api.ts
  src/resize-sensor.service.ts
  src/typing.ts
  tsconfig.json
Due: prettier --write, tslint -p . -t stylish --fix

feat!: support rerender after content changed
  .commitlintrc
  .eslintignore
  .eslintrc
  .huskyrc
  .huskyrc.js
  .lintstagedrc
  .lintstagedrc.js
  .renovaterc
  ng-package.json
  package.json
  src/code-colorize.directive.ts
  src/module.ts
  src/monaco-common-editor.component.ts
  src/monaco-diff-editor.component.ts
  src/monaco-editor-config.ts
  src/monaco-editor.component.ts
  src/monaco-provider.service.ts
  stories/index.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

feat!: support rerender after content changed (#42)
  .commitlintrc
  .eslintignore
  .eslintrc
  .huskyrc
  .huskyrc.js
  .lintstagedrc
  .lintstagedrc.js
  .renovaterc
  ng-package.json
  package.json
  src/code-colorize.directive.ts
  src/module.ts
  src/monaco-common-editor.component.ts
  src/monaco-diff-editor.component.ts
  src/monaco-editor-config.ts
  src/monaco-editor.component.ts
  src/monaco-provider.service.ts
  stories/index.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

feat: use GitHub Actions for publishing
  .github/workflows/publish.yml
  package.json
  yarn.lock
Due: prettier --write

chore: enable stylelint
  .browserslistrc
  .storybook/addons.js
  .storybook/config.js
  .storybook/global.scss
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  .storybook/tsconfig.json
  .stylelintignore
  .stylelintrc
  package.json
  src/code-colorize.directive.ts
  src/monaco-editor.component.scss
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

docs: add tips about dynamicImport for esm support
  .storybook/main.ts
  README.md
  package.json
  src/monaco-provider.service.ts
  stories/amd.stories.ts
  stories/base.ts
  stories/esm.stories.ts
  stories/index.ts
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

ci: fix build errors
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
Due: none

chore(release): 3.0.0
  .github/workflows/publish.yml
  CHANGELOG.md
  package.json
Due: prettier --write

fix: importing all languages and features to esm story
  stories/esm.stories.ts
Due: tslint -p . -t stylish --fix

fix: importing all languages and features to esm story (#43)
  stories/esm.stories.ts
Due: tslint -p . -t stylish --fix

feat: support duplicate code editor to change theme
  src/monaco-provider.service.ts
Due: tslint -p . -t stylish --fix

fix: fix issue
  src/monaco-provider.service.ts
Due: tslint -p . -t stylish --fix

feat: support duplicate code editor to change theme (#45)
  src/monaco-provider.service.ts
Due: tslint -p . -t stylish --fix

feat: mark isDarkTheme$$ as private
  src/monaco-provider.service.ts
Due: tslint -p . -t stylish --fix

feat: mark isDarkTheme$$ as private (#46)
  src/monaco-provider.service.ts
Due: tslint -p . -t stylish --fix

chore(release): 3.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: remove unnecessary spread, migrate to simple-git-hooks
  .eslintignore
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  .huskyrc.js
  .lintstagedrc.js
  .prettierignore
  .remarkrc
  .simple-git-hooks.js
  README.md
  package.json
  src/module.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore(release): 3.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: run ngc before committing
  .lintstagedrc.js
  tsconfig.json
Due: prettier --write

Create LICENSE.md
  LICENSE.md
Due: none

Add LICENSE file
  LICENSE
Due: none

docs: add LICENSE file (#52)
  LICENSE
Due: none

fix: use esm to import monaco namespace. #53
  src/monaco-common-editor.component.ts
  src/monaco-diff-editor.component.ts
  src/monaco-editor-config.ts
  src/monaco-provider.service.ts
  src/public-api.ts
  src/typing.ts
  src/typings.ts
Due: tslint -p . -t stylish --fix

fix: use esm to import monaco namespace. #53 (#54)
  src/monaco-common-editor.component.ts
  src/monaco-diff-editor.component.ts
  src/monaco-editor-config.ts
  src/monaco-provider.service.ts
  src/public-api.ts
  src/typing.ts
  src/typings.ts
Due: tslint -p . -t stylish --fix

chore(release): 3.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgrade angular v12, rxjs v7, webpack v5
  .eslintrc
  .lintstagedrc.js
  .postcssrc.js
  .storybook/.babelrc
  .storybook/main.ts
  package.json
  src/code-colorize.directive.ts
  src/helpers.ts
  src/module.ts
  src/monaco-common-editor.component.ts
  src/monaco-diff-editor.component.ts
  src/monaco-editor-config.ts
  src/monaco-editor.component.ts
  src/monaco-provider.service.ts
  src/public-api.ts
  src/resize-sensor.service.ts
  src/typings.ts
  stories/base.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore: integration with monaco-editor-webpack-plugin
  .storybook/.babelrc
  .storybook/main.ts
  package.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore: integration with monaco-yaml
  .storybook/main.ts
  README.md
  package.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore: bump storybook deps
  package.json
  yarn.lock
Due: prettier --write

chore: integration with monaco-yaml (#58)
  .storybook/main.ts
  README.md
  package.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore(release): 4.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: replace monaco-editor/esm/vs/editor/editor.api with monaco-editor
  src/monaco-diff-editor.component.ts
  src/monaco-editor-config.ts
Due: tslint -p . -t stylish --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,json,css,sass,scss}
  tslint -p . -t stylish --fix: any of: *.{ts,tsx}
