Repository alauda/ng-monaco-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -p . -t stylish --fix

.lintstagedrc:

{
  "*.{js,jsx,json,css,sass,scss}": ["prettier --write"],
  "*.{ts,tsx}": ["tslint -p . -t stylish --fix"]
}

fix: replace monaco-editor/esm/vs/editor/editor.api with monaco-editor (#59)
  src/monaco-diff-editor.component.ts
  src/monaco-editor-config.ts
Due: tslint -p . -t stylish --fix

chore(release): 4.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: improve types for EventEmitter
  ng-package.json
  package.json
  src/monaco-common-editor.component.ts
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

fix: improve types for EventEmitter (#60)
  ng-package.json
  package.json
  src/monaco-common-editor.component.ts
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore(release): 4.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: require could be unavailable when toggle from esm to amd
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/stories.yml
  .storybook/preview.ts
  package.json
  src/monaco-diff-editor.component.ts
  src/monaco-provider.service.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore: add missing changeset and codesanbox configs
  .changeset/README.md
  .changeset/config.json
  .codesandbox/ci.json
Due: prettier --write

Create nice-stingrays-end.md
  .changeset/nice-stingrays-end.md
Due: none

fix: require could be unavailable when toggle from esm to amd (#63)
  .changeset/README.md
  .changeset/config.json
  .changeset/nice-stingrays-end.md
  .codesandbox/ci.json
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/stories.yml
  .storybook/preview.ts
  package.json
  src/monaco-diff-editor.component.ts
  src/monaco-provider.service.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

Update CHANGELOG.md
  CHANGELOG.md
Due: none

build: change dest to dist folder for consistency
  .eslintignore
  .gitignore
  package.json
Due: prettier --write

docs: correct GitHub workflow status badges
  README.md
Due: none

feat!: expose theme as Observable, remove isDarkTheme
  .codesandbox/ci.json
  .gitignore
  .storybook/main.ts
  .storybook/tsconfig.json
  .stylelintrc
  ng-package.json
  package.json
  src/monaco-common-editor.component.ts
  src/monaco-diff-editor.component.ts
  src/monaco-editor.component.html
  src/monaco-provider.service.ts
  src/public-api.ts
  stories/base.ts
  tslint.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

Create large-mugs-sin.md
  .changeset/large-mugs-sin.md
Due: none

Create gentle-tips-compare.md
  .changeset/gentle-tips-compare.md
Due: none

feat!: expose theme as Observable, remove isDarkTheme (#73)
  .changeset/gentle-tips-compare.md
  .changeset/large-mugs-sin.md
  .codesandbox/ci.json
  .gitignore
  .storybook/main.ts
  .storybook/tsconfig.json
  .stylelintrc
  ng-package.json
  package.json
  src/monaco-common-editor.component.ts
  src/monaco-diff-editor.component.ts
  src/monaco-editor.component.html
  src/monaco-provider.service.ts
  src/public-api.ts
  stories/base.ts
  tslint.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

chore: provide service and config in root
  src/module.ts
  src/monaco-editor-config.ts
  src/monaco-provider.service.ts
Due: tslint -p . -t stylish --fix

Create fresh-apples-accept.md
  .changeset/fresh-apples-accept.md
Due: none

ci: update actions usage
  .github/workflows/release.yml
  .github/workflows/stories.yml
Due: none

chore: provide service and config in root (#75)
  .changeset/fresh-apples-accept.md
  .github/workflows/release.yml
  .github/workflows/stories.yml
  src/module.ts
  src/monaco-editor-config.ts
  src/monaco-provider.service.ts
Due: tslint -p . -t stylish --fix

ci: change domain
  .github/workflows/stories.yml
Due: none

docs: change homepage links
  README.md
Due: none

fix: use getLanguageId instead of model.id
  src/monaco-common-editor.component.ts
Due: tslint -p . -t stylish --fix

Create hip-dolphins-relax.md
  .changeset/hip-dolphins-relax.md
Due: none

fix: use getLanguageId instead of model.id (#76)
  .changeset/hip-dolphins-relax.md
  src/monaco-common-editor.component.ts
Due: tslint -p . -t stylish --fix

chore: compatibility with older monaco
  src/monaco-common-editor.component.ts
Due: tslint -p . -t stylish --fix

Create bright-poems-hang.md
  .changeset/bright-poems-hang.md
Due: none

chore: compatibility with older monaco (#79)
  .changeset/bright-poems-hang.md
  src/monaco-common-editor.component.ts
Due: tslint -p . -t stylish --fix

chore: bump all (dev)Dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: model-id is not language id
  .changeset/quick-parrots-talk.md
  src/monaco-common-editor.component.ts
Due: tslint -p . -t stylish --fix

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

chore: bump dependencies
  .eslintrc
  .github/workflows/release.yml
  .github/workflows/stories.yml
  .remarkrc
  .storybook/global.scss
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/tsconfig.json
  .stylelintignore
  angular.json
  package.json
  src/monaco-editor.component.scss
  src/monaco-provider.service.ts
  stories/amd.stories.ts
  stories/base.ts
  stories/esm.stories.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

Create ninety-shirts-scream.md
  .changeset/ninety-shirts-scream.md
Due: none

ci: add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

chore: bump dependencies (#91)
  .changeset/ninety-shirts-scream.md
  .eslintrc
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/stories.yml
  .remarkrc
  .storybook/global.scss
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/tsconfig.json
  .stylelintignore
  angular.json
  package.json
  src/monaco-editor.component.scss
  src/monaco-provider.service.ts
  stories/amd.stories.ts
  stories/base.ts
  stories/esm.stories.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint -p . -t stylish --fix

fix: exit fullscreen model dup error
  src/monaco-common-editor.component.ts
Due: tslint -p . -t stylish --fix

Create chatty-frogs-press.md
  .changeset/chatty-frogs-press.md
Due: none

fix: exit fullscreen model dup error (#96)
  .changeset/chatty-frogs-press.md
  src/monaco-common-editor.component.ts
Due: tslint -p . -t stylish --fix
